@import url(fontawesome-all.min.css);

ol {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

nav {
    /* background: lightblue; */
}

.home {
    text-align: center;
    /* background-color: lightblue; */
}

#about-me {
    text-align: center;
}
#projects {
    text-align: center;
}
#contact {
    text-align: center;
}
footer {
    min-height:20px;
    background:PapayaWhip;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.dark-mode {
    background-color: black;
    color: white;
}
a {
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

body {
    background-color: whitesmoke;
}

.link-dark-mode {
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}
